<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

        <rosparam file="$(find sp_planning)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sp_planning)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find sp_planning)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find sp_planning)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sp_planning)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find sp_planning)/param/base_global_planner.yaml" command="load" />
        
    </node>

</launch>

